%article.xs-mt-2.articles
  .container
    .row.xs-mb-1
      %h2.h3.xs-12= title
    .row
      .xs-12
        %ul.articles__list.list-unstyled.xs-mb-2
          - articles.each do |article|
            %li.articles__item.xs-mb-1
              = link_to "#", class: "articles__inner" do
                = image_tag article.image
                .articles__text
                  %figcaption
                    %span.meta= article.category
                    %h3= article.title
