%article.theme--bluelight
	.container
		.row.xs-pt-1.xs-pb-1
			%ul.xs-12.lg-8.breadcrumb
				%li= link_to "Home", "#"
				%li= link_to "Koopwoningen", "#"
				%li= link_to "Noord-Holland", "#"
				%li= link_to "Amsterdam", "#"
				%li= link_to "Jordaan", "#"

			.xs-12.lg-4= link_to "Ga terug naar zoekresultaat", "#", :class => "go-back"