.event.xs-mb-1
  = link_to "event.html", class: "event__inner bg-white" do
    .event__image{:class => "b-lazy", :data => {"src" => event.photo, "src-sm" => event.photo, "src-md" => event.photo, "src-lg" => event.photo, "src-xl" => event.photo } }
      .event__label
        .event__day.h1= event.day
        .event__date
          %p.no-margin= event.month
          %p.no-margin= event.year
    .event__text
      %h2.h3= event.title
      %p.xs-mb-2.bottom-separator--light.bottom-separator= event.intro
      .event__location.xs-mt-1
        %p= event.location

      