%footer
	.container
		.row
			.xs-12
				%ul.list-unstyled.list-horizontal
					%li= link_to "Over funda", "#"
					%li= link_to "Contact", "#"
					%li= link_to "Adverteren", "#"
					%li= link_to "Vacatures", "#"
					%li= link_to "funda desk", "#"
					%li= link_to "funda mobiel", "#"
					%li= link_to "Help", "#"