.container.xs-mb-2
	.row
		%article.content-focused
			%header.xs-12.lg-3.xs-pt-2.xs-pb-2
				%span.tag nieuws
				%h2 EYE filmmuseum toont rijke historie ahrend inrichters
				%p Het EYE Filmmuseum Amsterdam draait een maand lang op initiatief van Stadsleven Work een authentieke historische film over Ahrend kantoormeubelen.
				%time 19 januari 2015

			.content-focused__content.xs-12.lg-9
				%img{:class => "b-lazy", :src => "images/news-detail-header.jpg", :data => {"src" => "images/news-detail-header.jpg", "src-sm" => "images/news-detail-header.jpg", "src-md" => "images/news-detail-header.jpg", "src-lg" => "images/news-detail-header.jpg", "src-xl" => "images/news-detail-header.jpg"}}

				.content-focused__share
					%p Deel dit bericht
					%ul.list-unstyled.list-horizontal.horizontal-icons
						%li= link_to "", "https://www.facebook.com/ahrendinrichten", class: "icon-facebook"
						%li= link_to "", "https://www.linkedin.com/company/ahrend", class: "icon-linkedin"
						%li= link_to "", "https://twitter.com/ahrendoffice", class: "icon-twitter"
						%li= link_to "", "http://pinterest.com/ahrend", class: "icon-pinterest"


				%p Onder de titel ‘Ahrend, heel wat onder een dak’ toont de film de rijke historie van Ahrend inrichters. De film geeft een prachtig tijdsbeeld en benadrukt dat bij Ahrend Design geen trend maar een traditie is.

				%h3 Rijke historie van Ahrend inrichters
				%p Koninklijke Ahrend werd in 1896 opgericht door Jacobus Ahrend en produceert nog steeds in Nederland vanuit haar fabrieken in St Oedenrode en Zwanenburg. In 1996 werd Ahrend ten tijde van het 100-jarig jubileum koninklijk onderscheiden.

				%h3 Inrichters sinds 1896
				%figure
					.popup-video{ :href => "http://www.youtube.com/watch?v=-jmBO6Smits" }
						%img{:class => "b-lazy", :src => "images/news-detail-video.jpg", :data => {"src" => "images/news-detail-video.jpg", "src-sm" => "images/news-detail-video.jpg", "src-md" => "images/news-detail-video.jpg", "src-lg" => "images/news-detail-video.jpg", "src-xl" => "images/news-detail-video.jpg"}}
					%figcaption Ahrend heeft met de inrichting een gezonde werkomgeving gecreëerd die projectmatig en collaboratief werken faciliteert en stimuleert. 

				%p Ahrend was al in een vroegtijdig stadium als partner betrokken bij dit prestigieuze project. Bij het uitwerken heeft Ahrend vernieuwende trends en toepassingen op het gebied van Activiteit Gerelateerd Werken en ergonomie meegenomen.

				%p 
					De film is te zien tot eind van deze maand in het EYE Filmmuseum Amsterdam óf via
					= link_to "deze link.", "#"

	= partial "components/articles", locals: { title: "Uit ons journal", articles: data.articles.journal }