%article.container.content--horizontal
  .row
    .xs-12.md-2
      %h3 Informatie
    .xs-12.md-10.xs-pb-2
      .row
        .xs-12.lg-8
          %p.no-margin-top De Ahrend 350 conferentie- en bezoekerstoelen zijn met zorg ontworpen. De stoel combineert zitcomfort met een stijlvolle, verfijnde en markante vormgeving en is in zowel kantoor als vergaderruimte toe te passen. De bezoekersstoelen hebben een eigen uitnodigende vorm, maar met het zitgemak dat hoort bij Ahrend 350. De conferentiefauteuils hebben een vaste zithoogte en een standgeheugen, waardoor ze altijd de juiste stand aan de vergadertafel kiezen.
          %ul.arrow-list.xs-mb-2
            %li exclusief, modern design met gebruik van hoogwaardige materialen
            %li conferentiestoelen met standgeheugen
            %li complete range met management- en bureaustoelen
        .xs-12.lg-4
          .info-block
            .xs-pt-1.xs-pb-1.bg-black.info-block__heading
              %h3 Meer informatie?
              %p.no-margin-bottom Bel 0123 456 789 of bezoek één van onze showrooms
            .xs-pt-1.xs-pb-1.bg-white.info-block__socials
              %h4 Delen
              %ul.list-unstyled.list-horizontal.horizontal-icons
                %li= link_to "", "https://www.facebook.com/ahrendinrichten", class: "icon-facebook"
                %li= link_to "", "https://www.linkedin.com/company/ahrend", class: "icon-linkedin"
                %li= link_to "", "https://twitter.com/ahrendoffice", class: "icon-twitter"
                %li= link_to "", "https://www.youtube.com/user/AhrendOffice", class: "icon-youtube"
                %li= link_to "", "", class: "icon-instagram"
                %li= link_to "", "http://pinterest.com/ahrend", class: "icon-pinterest"
                %li= link_to "", "", class: "icon-google-plus"  
