.xs-12.gallery__image
	%img{:class => "b-lazy", :src => "images/inspirations/house/house_1.jpg", :data => {"src" => "images/inspirations/house/house_1.jpg", "src-sm" => "images/inspirations/house/house_1.jpg", "src-md" => "images/inspirations/house/house_1.jpg", "src-lg" => "images/inspirations/house/house_1.jpg", "src-xl" => "images/inspirations/house/house_1.jpg"}}

	= link_to "#ga-1product1", :class => "gallery__btn popup-modal", :style => "top: 20%; left: 43%" do
		.icon-search
		.infobox
			Afzuigkap ###
	= link_to "#ga-1product2", :class => "gallery__btn popup-modal", :style => "top: 40%; right: 22%;" do
		.icon-search
		.infobox
			Espresso machine
	= link_to "#ga-1product3", :class => "gallery__btn popup-modal", :style => "top: 56%; right: 30%;" do
		.icon-search
		.infobox
			high chair
			
	#ga-1product1.white-popup-block.mfp-hide.zoom-anim-dialog
		%h2 Afzuigkap

		.option
			.option__img
				%img{:src => "images/inspirations/house/afzuigkap.jpg"}
				%span.ori original
			.option__content
				%h3 BOSCH
				%span € 749.-
				%dl
					%dt Energylabel
					%dd A
					%dt Garantie
					%dd 5 jaar
			.option__btn
				= link_to "Sponsor URL", "#", :class => "button"

		.option
			.option__img
				%img{:src => "images/inspirations/house/afzuigkap.jpg"}
				%span best for value
			.option__content
				%h3 MOLNIGT at IKEA
				%span € 349.-
				%dl
					%dt Energylabel
					%dd C
					%dt Garantie
					%dd 5 jaar
			.option__btn
				= link_to "Sponsor URL", "#", :class => "button"

		.option
			.option__img
				%img{:src => "images/inspirations/house/afzuigkap.jpg"}
				%span budget
			.option__content
				%h3 Airline 900
				%span € 239.-
				%dl
					%dt Energylabel
					%dd C
					%dt Garantie
					%dd 2 jaar
			.option__btn
				= link_to "Sponsor URL", "#", :class => "button"

		= link_to "Close", "#", :class => "popup-modal-dismiss"

	#ga-1product2.white-popup-block.mfp-hide.zoom-anim-dialog
		%h2 Espresso machine

		.option
			.option__img
				%img{:src => "images/inspirations/house/afzuigkap.jpg"}
				%span.ori original
			.option__content
				%h3 BOSCH
				%span € 749.-
				%dl
					%dt Energylabel
					%dd A
					%dt Garantie
					%dd 5 jaar
			.option__btn
				= link_to "Sponsor URL", "#", :class => "button"

		.option
			.option__img
				%img{:src => "images/inspirations/house/afzuigkap.jpg"}
				%span best for value
			.option__content
				%h3 MOLNIGT at IKEA
				%span € 349.-
				%dl
					%dt Energylabel
					%dd C
					%dt Garantie
					%dd 5 jaar
			.option__btn
				= link_to "Sponsor URL", "#", :class => "button"

		.option
			.option__img
				%img{:src => "images/inspirations/house/afzuigkap.jpg"}
				%span budget
			.option__content
				%h3 Airline 900
				%span € 239.-
				%dl
					%dt Energylabel
					%dd C
					%dt Garantie
					%dd 2 jaar
			.option__btn
				= link_to "Sponsor URL", "#", :class => "button"

		= link_to "Close", "#", :class => "popup-modal-dismiss"

	#ga-1product3.white-popup-block.mfp-hide.zoom-anim-dialog
		%h2 Kitchen high chair

		.option
			.option__img
				%img{:src => "images/inspirations/house/afzuigkap.jpg"}
				%span.ori original
			.option__content
				%h3 BOSCH
				%span € 749.-
				%dl
					%dt Energylabel
					%dd A
					%dt Garantie
					%dd 5 jaar
			.option__btn
				= link_to "Sponsor URL", "#", :class => "button"

		.option
			.option__img
				%img{:src => "images/inspirations/house/afzuigkap.jpg"}
				%span best for value
			.option__content
				%h3 MOLNIGT at IKEA
				%span € 349.-
				%dl
					%dt Energylabel
					%dd C
					%dt Garantie
					%dd 5 jaar
			.option__btn
				= link_to "Sponsor URL", "#", :class => "button"

		.option
			.option__img
				%img{:src => "images/inspirations/house/afzuigkap.jpg"}
				%span budget
			.option__content
				%h3 Airline 900
				%span € 239.-
				%dl
					%dt Energylabel
					%dd C
					%dt Garantie
					%dd 2 jaar
			.option__btn
				= link_to "Sponsor URL", "#", :class => "button"

		= link_to "Close", "#", :class => "popup-modal-dismiss"