.xs-12.gallery__image
	%img{:class => "b-lazy", :src => "images/inspirations/house/house_2.jpg", :data => {"src" => "images/inspirations/house/house_2.jpg", "src-sm" => "images/inspirations/house/house_2.jpg", "src-md" => "images/inspirations/house/house_2.jpg", "src-lg" => "images/inspirations/house/house_2.jpg", "src-xl" => "images/inspirations/house/house_2.jpg"}}

	= link_to "#ga-2product1", :class => "gallery__btn popup-modal", :style => "top: 20%; left: 43%" do
		.icon-search
		.infobox
			Lamp ###
	= link_to "#ga-2product1", :class => "gallery__btn popup-modal", :style => "top: 49%; right: 22%;" do
		.icon-search
		.infobox
			Rakje ###
	= link_to "#ga-2product3", :class => "gallery__btn popup-modal", :style => "top: 62%; left: 52%;" do
		.icon-search
		.infobox
			Eames DAR

	#ga-2product1.white-popup-block.mfp-hide.zoom-anim-dialog
		%h2 Kitchen lamp

		.option
			.option__img
				%img{:src => "images/inspirations/house/afzuigkap.jpg"}
				%span.ori original
			.option__content
				%h3 BOSCH
				%span € 749.-
				%dl
					%dt Energylabel
					%dd A
					%dt Garantie
					%dd 5 jaar
			.option__btn
				= link_to "Sponsor URL", "#", :class => "button"

		.option
			.option__img
				%img{:src => "images/inspirations/house/afzuigkap.jpg"}
				%span best for value
			.option__content
				%h3 MOLNIGT at IKEA
				%span € 349.-
				%dl
					%dt Energylabel
					%dd C
					%dt Garantie
					%dd 5 jaar
			.option__btn
				= link_to "Sponsor URL", "#", :class => "button"

		.option
			.option__img
				%img{:src => "images/inspirations/house/afzuigkap.jpg"}
				%span budget
			.option__content
				%h3 Airline 900
				%span € 239.-
				%dl
					%dt Energylabel
					%dd C
					%dt Garantie
					%dd 2 jaar
			.option__btn
				= link_to "Sponsor URL", "#", :class => "button"

		= link_to "Close", "#", :class => "popup-modal-dismiss"

	#ga-2product2.white-popup-block.mfp-hide.zoom-anim-dialog
		%h2 Rakje

		.option
			.option__img
				%img{:src => "images/inspirations/house/afzuigkap.jpg"}
				%span.ori original
			.option__content
				%h3 BOSCH
				%span € 749.-
				%dl
					%dt Energylabel
					%dd A
					%dt Garantie
					%dd 5 jaar
			.option__btn
				= link_to "Sponsor URL", "#", :class => "button"

		.option
			.option__img
				%img{:src => "images/inspirations/house/afzuigkap.jpg"}
				%span best for value
			.option__content
				%h3 MOLNIGT at IKEA
				%span € 349.-
				%dl
					%dt Energylabel
					%dd C
					%dt Garantie
					%dd 5 jaar
			.option__btn
				= link_to "Sponsor URL", "#", :class => "button"

		.option
			.option__img
				%img{:src => "images/inspirations/house/afzuigkap.jpg"}
				%span budget
			.option__content
				%h3 Airline 900
				%span € 239.-
				%dl
					%dt Energylabel
					%dd C
					%dt Garantie
					%dd 2 jaar
			.option__btn
				= link_to "Sponsor URL", "#", :class => "button"

		= link_to "Close", "#", :class => "popup-modal-dismiss"

	#ga-2product3.white-popup-block.mfp-hide.zoom-anim-dialog
		%h2 Eames DAR

		.option
			.option__img
				%img{:src => "images/inspirations/house/afzuigkap.jpg"}
				%span.ori original
			.option__content
				%h3 BOSCH
				%span € 749.-
				%dl
					%dt Energylabel
					%dd A
					%dt Garantie
					%dd 5 jaar
			.option__btn
				= link_to "Sponsor URL", "#", :class => "button"

		.option
			.option__img
				%img{:src => "images/inspirations/house/afzuigkap.jpg"}
				%span best for value
			.option__content
				%h3 MOLNIGT at IKEA
				%span € 349.-
				%dl
					%dt Energylabel
					%dd C
					%dt Garantie
					%dd 5 jaar
			.option__btn
				= link_to "Sponsor URL", "#", :class => "button"

		.option
			.option__img
				%img{:src => "images/inspirations/house/afzuigkap.jpg"}
				%span budget
			.option__content
				%h3 Airline 900
				%span € 239.-
				%dl
					%dt Energylabel
					%dd C
					%dt Garantie
					%dd 2 jaar
			.option__btn
				= link_to "Sponsor URL", "#", :class => "button"

		= link_to "Close", "#", :class => "popup-modal-dismiss"