.container.xs-mb-2
	.row
		%article.content-focused
			%header.xs-12.lg-3.xs-pt-2.xs-pb-2.bottom-separator.bottom-separator--light
				%h2 Ahrend Academy: Verbeter uw facility beleving
				%p Bent u benieuwd wat uw eindgebruikers nu écht belangrijk vinden?


				%dl
					%dt Wanneer
					%dd 28 april 2015
					%dt Locatie
					%dd
						Laarderhoogtweg 25
						%br
						1101EB Amsterdam

				%p.icon-location.xs-mb-2
					Bekijk in 
					= link_to "Google maps", "#"

			.content-focused__content.xs-12.lg-9
				%img{:class => "b-lazy", :src => "images/event-header.jpg", :data => {"src" => "images/event-header.jpg", "src-sm" => "images/event-header.jpg", "src-md" => "images/event-header.jpg", "src-lg" => "images/event-header.jpg", "src-xl" => "images/event-header.jpg"}}

				.content-focused__share
					%p Deel dit bericht
					%ul.list-unstyled.list-horizontal.horizontal-icons
						%li= link_to "", "https://www.facebook.com/ahrendinrichten", class: "icon-facebook"
						%li= link_to "", "https://www.linkedin.com/company/ahrend", class: "icon-linkedin"
						%li= link_to "", "https://twitter.com/ahrendoffice", class: "icon-twitter"
						%li= link_to "", "http://pinterest.com/ahrend", class: "icon-pinterest"


				%p Vanwege de grote mate van interesse voor dit evenement is het maximum aantal aanmeldingen voor dit evenement bereikt. U kunt zich nog inschrijven, maar dan kunt u aangeven of u op de wachtlijst wilt staan en/of u geïnteresseerd bent om een volgend evenement bij te wonen. Bij eventuele afzeggingen nemen wij contact op met de eerstvolgende op deze wachtlijst. 

				%form{:action => "", :method => "post", :class => "inside-content xs-pb-2 xs-mb-2"}
					%legend Inschrijven
				
					.input
						%label Voornaam*
						%input{:type => "text"}
					.input
						%label Tussenvoegsel
						%input{:type => "text"}
					.input
						%label Achternaam*
						%input{:type => "text"}
					.input
						%label Naam organisatie*
						%input{:type => "text"}
					.input
						%label Functie*
						%input{:type => "text"}
					.input
						%label E-mail*
						%input{:type => "email"}
					.input
						%label Telefoon*
						%input{:type => "tel"}

					.input
						%label

						.input__inputs
							%label
								%input{:type => "checkbox"}
								Zet mij op de wachtlijst
							%label
								%input{:type => "checkbox"}
								Ik heb interesse in vervolgevenementen
							%input{:type => "submit", :value => "aanmelden", :class => "button"} 

	%article.xs-mt-1.container
		.row
			.events-list
				- data.events[0,3].each do |event|
					= partial "components/event", locals: { event: event }