---
title: Product
---

= partial "components/product/introduction"
= partial "components/product/hero"
= partial "components/product/information"
= partial "components/product/blocks", locals: { type: 1 }
= partial "components/blocks", locals: { type: 1 }
= partial "components/designer"
= partial "components/specifications"
= partial "components/downloads"
= partial "components/related", locals: { amount: 1 }
= partial "components/more-info"
