---
title: Project
---

= partial "components/project/hero-project"
= partial "components/project/introduction"
= partial "components/blocks", locals: { type: 1 }
= partial "components/blocks", locals: { type: 2 }
= partial "components/project/content"
= partial "components/project/blocks"
= partial "components/project/partners"
.xs-mb-4
  = partial "components/quote", locals: { full: true, quote: data.quotes[1] }
= partial "components/related", locals: { amount: 3 }
= partial "components/more-info"